<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>
                %red(%file) l=%line %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %cyan(%msg%n)
            </Pattern>
        </encoder>
    </appender>

    <logger name="e" level="debug" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
</configuration>