<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lee.ylcommunity.mapper.LoginTicketMapper">
  <resultMap id="BaseResultMap" type="com.lee.ylcommunity.entity.LoginTicket">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="ticket" jdbcType="VARCHAR" property="ticket" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="expired" jdbcType="TIMESTAMP" property="expired" />
  </resultMap>
  <sql id="Base_Column_List">
    id
    , user_id, ticket, status, expired
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from login_ticket
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByTicket" resultType="com.lee.ylcommunity.entity.LoginTicket">
    select
    <include refid="Base_Column_List"/>
    from login_ticket
    where ticket = #{ticket,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete
    from login_ticket
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lee.ylcommunity.entity.LoginTicket">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into login_ticket (user_id, ticket, status,
    expired)
    values (#{userId,jdbcType=INTEGER}, #{ticket,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER},
    #{expired,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.lee.ylcommunity.entity.LoginTicket">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into login_ticket
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="ticket != null">
        ticket,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="expired != null">
        expired,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="ticket != null">
        #{ticket,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="expired != null">
        #{expired,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lee.ylcommunity.entity.LoginTicket">
    update login_ticket
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="ticket != null">
        ticket = #{ticket,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="expired != null">
        expired = #{expired,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lee.ylcommunity.entity.LoginTicket">
    update login_ticket
    set user_id = #{userId,jdbcType=INTEGER},
        ticket  = #{ticket,jdbcType=VARCHAR},
        status  = #{status,jdbcType=INTEGER},
        expired = #{expired,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateStatusByTicket">
    update login_ticket
    set status = #{status,jdbcType=INTEGER}
    where ticket = #{ticket,jdbcType=VARCHAR}
  </update>
</mapper>